
$blue : #2196f3;
$blueLight : #21cbf3;
$pinkDark : #f54445;
$pink : pink;
$pinkLight : #fbd4db;
$greyText : #616161;
$white : white;
$greyLight : #efefef;



$color-primary-0: #17ABD5;	// Main Primary color */
$color-primary-1: #BEECF9;
$color-primary-2: #56C9EA;
$color-primary-3: #037899;
$color-primary-4: #03475A;

$color-secondary-1-0: #FA132E;	// Main Secondary color (1) */
$color-secondary-1-1: #FEC0C7;
$color-secondary-1-2: #FD576B;
$color-secondary-1-3: #EC001C;
$color-secondary-1-4: #8B0010;

$color-secondary-2-0: #FFC714;	// Main Secondary color (2) */
$color-secondary-2-1: #FFF0C1;
$color-secondary-2-2: #FFD758;
$color-secondary-2-3: #F6BB00;
$color-secondary-2-4: #916E00;

$color-complement-0: #FF8A14;	// Main Complement color */
$color-complement-1: #FFE0C1;
$color-complement-2: #FFAC58;
$color-complement-3: #F67C00;
$color-complement-4: #914900;